
body,
h1,
h2,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;

}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

/* Section styles */
.box {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    position: relative;
    box-sizing: border-box;
}

/* Section title region styles */
.box h2 {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #333;
    color: #fff;
    padding: 0px 21px;
}

.box p {
    margin-top: 10px;

}

/* Media queries for responsive design */
@media screen and (max-width: 767px) {
    .box {
        flex: 0 0 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .box {
        flex: 0 0 48%;
    }

    .box:nth-child(3) {
        flex: 0 0 100%;
    }
}
